.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}



.menu_retina .navbar-brand>img {
  padding: 2px 2px;
}

div.rl p{
    color: #ea2a76;
    font-size: 2em;
}
div.rl p span{
    color: #53C3F2;
}